// White/Black Colors
$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

// My Theme Colors (use these to override default)
// Grays
$smoky-gray: #1c1c1c;

// Reds
$dark-red: #290000;
$med-red: #3D0000;
$blood-red: #520000;
$lt-red: #6f0000;
$bright-red: #a50000;
$active-red: #e62020;

// Customized Bootstrap
// Default Theme Colors (change these as needed)
$primary: $smoky-gray;

// Navbar
$navbar-light-color: $bright-red;
$navbar-light-hover-color: $smoky-gray;
$navbar-light-active-color: $active-red;
$navbar-light-disabled-color: $dark-red;
$navbar-light-brand-color: $white;
$navbar-light-brand-hover-color: $white;

// My Fonts

@import '../node_modules/bootstrap/scss/bootstrap.scss';