@use './custom';

// All Pages - SCSS
@use './all_pages/nav';
@use './all_pages/foot';

//index content scss files
@use '../scss/index/hero';
@use '../scss/index/intro';

//Background Codes
body::before {
  content: "";
  position: fixed;
  inset: 0;
  background-image: url("/Images/navbar/background.webp");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 2100px auto;
  z-index: -2;
}
body::after {
  content: "";
  position: fixed;
  inset: 0;
  background: linear-gradient(
    to bottom,
    rgba(17,17,17,0) 10%,
    rgba(17,17,17,0) 55%,
    rgba(17,17,17,0.6) 75%,
    #111 100%
  );
  z-index: -1;
}
h1, h2  {
  font-family: MedievalSharp, cursive;
}
p  {
  font-family: "Vollkorn", serif;
}