@use '../custom' as *;

.hero {
  min-height: 40vh;
  background: url("/Images/homepage/hero-img.webp") center / cover no-repeat;
  position: relative;
  border-bottom: 1px solid $black;
}
.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,.33);
}
.hero .container {
  position: relative;
  z-index: 2;
}